// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// home page scss
// @import "./scss/dashboard/home/home";
// @import "./scss/dashboard/thingsToDo/thingsToDo";
@import "./scss/dashboard/blog/blog";
       .err-text{
        text-shadow: -1px 2px rgba(128, 128, 128, 0.5);
        background: -webkit-linear-gradient(whitesmoke, #1e2425);
        background-clip: text;
        -webkit-text-fill-color: transparent;
       }
      .flex-container {
        display: flex;
        justify-content: space-between;
      }
      .flex-container > div {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        width: 300px;
      }
      // .slick-next{
      //   color: red;
      // }
      .slick-next:before,
      .slick-next:before {
        font-family: initial !important;
        color: #FE4D00;
        position: absolute;
        margin-top: -27vh;
        margin-left: -3vw;
    }
      .slick-prev:before,
      .slick-prev:before {
        font-family: initial !important;
        color: #FE4D00;
        position: absolute;
        margin-top: -27vh;
        margin-left: 51vw;
      }
      .slick-next:hover::before,
      .slick-next:hover::before {
        color: #FE4D00;
        background: #FFFFFF !important;
        border: 2px solid #FE4D00 !important;
        box-shadow: 0px 0px 70px rgb(0 0 0 / 25%);
        border-radius: 50px;
    }
      .slick-prev:hover::before,
      .slick-prev:hover::before {
        color: #FE4D00;
        background: #FFFFFF !important;
        border: 2px solid #FE4D00 !important;
        box-shadow: 0px 0px 70px rgb(0 0 0 / 25%);
        border-radius: 50px;
    }
    .itemBox{
      background-color: white;
      width: 79%;
      margin-left: 10vw;
      box-shadow: 0px 0px 70px rgb(0 0 0 / 25%);
      padding-top: 10px;
      border-radius: 5px;

    }
    .react-tabs__tab-list{
      border-bottom: 0px solid #aaa;
      margin: 0 0 10px;
      padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 0px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 18px;
  cursor: pointer;
}
.feat-blogs-head div:not(.feat-blogs-head div.col-12, .feat-blogs-head div.col-12 *) {display: flex;flex-wrap: wrap;}
.feat-blogs-head .col-12 {padding: 0 7px;}
.feat-blogs-head .col-12 .discount-block.blog p{word-break: break-word;}

.loader{
    text-align: center;
    padding-top: "100px";
}
// .activeMenu{
//   background:lightcoral;
//   border-radius: 20px;
//   padding-right: 10px;
//   // fill: #fe4d00 !important;
//   // color:#fe4d00 !important;
// }
html, body, .search-box-wrapper{
  background-color: transparent !important;
}
.checkbox-sec .react-tabs__tab-panel--selected {
  width: 100%;
}
