body {
  margin: 0;
  padding: 0;
  color: #112211 !important;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  background: white;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Yeseva One";
  color: #112211;
}

p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #444;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

a, button {
  text-decoration: none !important;
  color: #000 !important;
}

/* =============================================Landing Page Css================================================ */
.top-header .navbar {
  background: #fff;
  padding: 5px 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1098039216);
}

.top-header .navbar .navbar-brand img {
  position: relative;
  top: 0;
}

.fixed-top a.navbar-brand {
  padding: 0;
}

.top-header ul li a {
  font-size: 15px;
  letter-spacing: 0.2px;
  margin: 0 0 0 20px;
  font-weight: bold;
}

.top-header ul li a.nav-link.contact-button {
  background: #fff;
  box-shadow: none;
  border-radius: 50px;
  height: 55px;
  display: inline-flex;
  border: 1px solid #FE4D00;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 10px 20px 10px 8px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.top-header ul {
  align-items: center;
}

.banner-section img {
  width: 90%;
  padding: 0px 0 0;
  margin: 0 auto;
  display: block;
}

.banner-section {
  position: relative;
  padding: 100px 0 100px;
  background: url("../../../../public/assets/images/banner.png") no-repeat;
  height: 660px;
  background-size: 100%;
}

.content-sec h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 74px;
}

.top-header ul li a.nav-link.contact-button img {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: #FE4D00;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.top-header ul li a svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.top-header ul li a.nav-link:hover svg path {
  fill: #fe4d00;
}

.top-header ul li a:hover {
  color: #fe4d00 !important;
}

.banner-section ul.nav-tabs {
  background: #fff;
  padding: 0;
  border-radius: 10px 10px 0 0;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-section ul.nav-tabs li button {
  border: 0;
  padding: 15px 20px;
  font-weight: 700;
}

.banner-section ul.nav-tabs li button.active {
  color: #fe4d00 !important;
  border-bottom: 2px solid #fe4d00;
}

.banner-section .tab-content {
  background: #fff;
  padding: 0px;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.banner-section ul.nav-tabs li button.active svg path {
  fill: #fe4d00;
}

.banner-section ul.nav-tabs li button svg {
  display: block;
  margin: 0 auto;
  width: 28px;
}

.banner-section ul.nav-tabs li button svg path {
  fill: #000;
}

.checkbox-sec {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px 15px;
}

.checkbox-sec .form-check {
  margin: 0 30px 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.checkbox-sec .form-check-input:checked {
  background-color: #fe4d00;
  border-color: #fe4d00;
}

.links-sec {
  margin-left: auto;
  font-weight: 700;
}

.tab-content > .tab-pane {
  padding: 20px;
}

.select-form form {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.select-form form .choose-sec {
  width: 20%;
  padding: 20px 20px 20px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.select-form form .choose-sec input, .select-form form .choose-sec select {
  border: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
}

.select-form form .choose-sec:last-child {
  border: 0;
}

.select-form form .choose-sec label {
  margin: 0 0 5px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
}

.select-form form .choose-sec span {
  font-size: 12px;
  font-weight: 700;
  display: block;
  margin: 0;
}

.specaility-sec {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specaility-sec p {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}

.choose-specaility {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  padding: 0px 10px;
  background: #FEFEFE;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.choose-specaility .form-check {
  margin: 0 10px 0 0;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 20px 10px;
}

.choose-specaility .form-check .form-check-input {
  border-color: #fe4d00;
  position: relative;
  top: -2px;
}

.choose-specaility .form-check-input:checked {
  background-color: #fe4d00;
  border-color: #fe4d00;
}

.choose-specaility .form-check .form-check-label {
  padding: 0 0 0 4px;
}

.choose-specaility .form-check:last-child {
  border: 0;
}

.action-sec {
  padding: 0px 20px 10px;
  text-align: center;
}

.action-sec a {
  background: #FE4D00;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 11px 45px;
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
  display: inline-block;
  margin: 10px 0 0;
}

.offer-section .header-sec ul {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
  background: #FEFEFE;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0 150px 0 0;
}

.offer-section .header-sec ul li a svg path {
  fill: #000;
}

.offer-section .header-sec ul li a svg {
  width: 24px;
}

.offer-section .header-sec ul li a {
  font-weight: 600;
  display: inline-block;
  padding: 6px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.header-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}

.offer-section .header-sec ul li:last-child a {
  border: 0;
}

.offer-section .header-sec ul li a:hover {
  background: #fe4d00;
  color: #fff !important;
}

.offer-section .header-sec ul li a:hover svg path {
  fill: #fff;
}

.offer-section {
  padding: 0;
}

.header-sec h2 {
  font-size: 36px;
}

.offer-section .testimonial-section.products .owl-nav {
  position: absolute;
  top: -95px;
  right: 0;
}

.owl-nav button {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  position: relative;
  font-size: 0 !important;
  background: transparent !important;
  border: 2px solid #f9f9f9 !important;
}

.owl-nav button:before {
  content: "";
  position: absolute;
  top: 4px;
  background: url("../../../../public/assets/images/left.png") no-repeat;
  width: 28px;
  height: 28px;
  background-size: contain;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.owl-nav button.owl-next:before {
  transform: rotate(180deg);
}

.owl-nav button:hover {
  background: #FFF !important;
  border: 2px solid #FE4D00 !important;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.cities {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

.offer-details h3 {
  font-size: 21px;
  line-height: 28px;
}

.offer-details {
  padding: 10px 0;
}

.offer-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 10px 0 0;
}

.offer-action a {
  padding: 13px 35px;
  background: #FE4D00;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff !important;
}

.offer-action a:last-child {
  color: #000 !important;
  padding: 0;
  background: transparent;
  text-decoration: underline !important;
  font-size: 13px;
}

.offer-section .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  border-radius: 7px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.adver-sec img {
  width: 100%;
  border-radius: 10px;
}

.adver-sec {
  padding: 70px 0;
}

.cities.travel {
  position: relative;
}

.cities.travel .offer-action {
  position: absolute;
  bottom: 30px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 0;
  justify-content: center;
}

.cities.travel .offer-action a {
  padding: 13px 13px;
  background: #FE4D00;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff !important;
  text-decoration: none !important;
  width: 84%;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
}

.offer-section .owl-carousel .owl-item .cities.travel img {
  height: 300px;
}

.app-promo {
  background: url("../../../../public/assets/images/app-banner.png") no-repeat;
  background-size: 100%;
  padding: 100px 0 20px;
  margin: 100px 0 0;
  position: relative;
}

.app-promo-content h2 {
  font-size: 52px;
  color: #fff;
  margin: 50px 0 0;
}

.app-promo-content p {
  color: #fff;
  font-weight: 600;
}

.get-sec {
  display: flex;
  align-items: center;
  margin: 30px 0 51px;
  position: relative;
}

.get-sec input {
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 40px;
  height: 60px;
  padding: 10px 40px;
  color: #fff !important;
}

.get-sec input:focus {
  background: transparent;
  box-shadow: none;
  border-color: #fff;
}

.get-sec input::-moz-placeholder {
  color: #fff;
}

.get-sec input::placeholder {
  color: #fff;
}

.get-sec a {
  padding: 12px 35px;
  background: #000;
  border-radius: 50px;
  color: #fff !important;
  position: absolute;
  right: 6px;
  font-weight: 700;
}

.get-sec span {
  position: absolute;
  left: 11px;
}

.app-link-sec {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0 0;
}

.app-link-sec img {
  width: 160px;
  margin: 0 10px 0 0;
}

.footer-section {
  text-align: center;
  position: relative;
}

.footer-logo img {
  margin: 0 0 30px;
}

.rind-the-right-section {
  padding: 0px 0 0px;
  position: relative;
}

.rind-the-right-section .form-search-filter h4 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 10px;
}

.rind-the-right-section .search-btn {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11);
}

.rind-the-right-section .search-btn input {
  border: 0;
  border-radius: 0;
  font-size: 14px;
  padding: 0 0 0 10px;
  height: 35px;
}

.rind-the-right-section .search-btn input:focus {
  box-shadow: none;
  border-bottom: 1px solid;
}

.form-search-filter {
  padding: 80px 30px 50px 0px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sidebar-listing .specialities-checkbox .listing-check .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #e51b24;
  background-color: #e51b24;
}

.rind-the-right-section .sidebar-listing {
  padding: 15px 10px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  background: #F7F7F7;
}

.sidebar-listing .specialities-checkbox .listing-check h4 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar-listing .specialities-checkbox .listing-check label {
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 0 5px;
  width: 90%;
}

.sidebar-listing .specialities-checkbox .listing-check .custom-checkbox {
  margin: 0px 0 5px;
  display: flex;
  align-items: center;
}

.sidebar-listing .specialities-checkbox .listing-check label::before {
  border-radius: 0;
  border: 0;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.19);
}

.sidebar-listing .specialities-checkbox .listing-check a {
  color: #3C75BE;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.white-box-area .heading-content h2::before {
  display: none;
}

.white-box-area .heading-content h2 {
  padding: 0 0 0 5px;
}

.white-box-area .heading-content {
  margin: 10px 0 15px;
  border: 0;
  padding: 0px 0 0;
}

.rind-the-right-section .sidebar-listing .map-search img {
  width: 100%;
  height: 94px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.map-search a {
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  margin: 0 auto 0;
  background: #FE6E00;
  display: inline-block;
  position: absolute;
  width: 60%;
  left: 0;
  text-align: center;
  top: 27px;
  right: 0;
}

.map-search {
  position: relative;
  margin: 0 0 10px;
}

.rind-the-right-section .sidebar-listing .specialities-checkbox {
  padding: 0px 10px 0px;
}

.sorts {
  margin: 10px 0;
}

.sorts label {
  font-size: 14px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.sorts select {
  border-radius: 30px;
  font-size: 14px;
  line-height: 32px;
  padding: 6px 16px;
}

.listing-check {
  margin: 20px 0 20px;
  padding: 0px 0px 10px;
  border-bottom: 1px solid #ccc;
}

.map-search.listing-check {
  margin: 0;
}

.sorts.specialities-checkbox span {
  font-size: 13px;
  display: block;
}

.sidebar-listing .specialities-checkbox .listing-check .custom-checkbox .stars li a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

.sidebar-listing .specialities-checkbox .listing-check .stars {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.mobile-filter {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.search-content.hotels {
  position: relative;
}

.search-content.hotels ul li {
  width: 100%;
}

.search-content.hotels ul li .form-group {
  display: flex;
  align-items: center;
  position: relative;
}

.search-content.hotels ul li .form-group a {
  position: absolute;
  right: 0;
  width: 200px;
  font-size: 21px;
}

.search-filter-hotl .search-content {
  margin: 50px 0;
  background: #EEEEEE;
  border-radius: 10px;
  box-shadow: none;
  padding: 40px 40px;
}

.search-filter-hotl .search-content li {
  padding: 0;
  width: 33.3%;
}

.search-filter-hotl .search-content ul {
  position: relative;
}

.search-filter-hotl .search-content ul li a {
  position: absolute;
  right: 0;
  top: 33px;
  width: 200px;
  font-size: 21px;
}

.search-filter-hotl .search-content li input {
  border-radius: 0;
}

.search-filter-hotl .search-content li:first-child input {
  border-radius: 35px 0 0 35px;
}

.search-filter-hotl .search-content li:nth-child(3) input {
  border-radius: 0 35px 35px 0;
}

.search-filter-hotl .search-content li .form-group {
  margin: 10px 0;
}

.search-filter-hotl .search-content li label {
  padding: 0 20px;
}

.search-filter-hotl .free-trail-form {
  display: block;
}

.sidebar-listing .specialities-checkbox .listing-check .custom-checkbox span {
  width: 10%;
  font-size: 12px;
}

.rind-the-right-section .sidebar-listing .specialities-checkbox:last-child .listing-check {
  border: 0;
}

.client-sec.slider .view-tag {
  width: 100%;
  text-align: center;
}

.testimonial-section.products .discount-block {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: none;
}

.testimonial-section.products .discount-block .discount-content {
  margin: 10px 0 0;
}

.testimonial-section.products .discount-block .discount-content h3 {
  font-size: 21px;
  text-align: center;
}

.testimonial-section.products {
  background: #F7F7F7;
  padding: 15px;
  margin: 0 0 50px;
  border-radius: 10px;
}

.head-yelp h3 {
  font-size: 24px;
  margin: 0;
}

.head-yelp {
  margin: 10px 0 20px;
  border-bottom: 1px solid #ddd;
  padding: 0px 0 20px;
}

.n-contain {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.testimonial-section.products .discount-block img {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.testimonial-section.products .owl-nav {
  top: -72px;
  position: absolute;
  right: 0;
}

.content-sec .custom-select-box {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  max-width: 200px;
  width: 100%;
}

.content-sec {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
}

.content-sec .custom-select-box span {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  width: 76px;
}

.content-sec .custom-select-box select {
  border: 0;
  padding: 0;
}

.content-sec p {
  font-weight: 700;
}

.stars ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FE4D00;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars p {
  margin: 0 0 0 5px;
  font-weight: 700;
  font-size: 13px;
}

.app-promo:after {
  content: "";
  position: absolute;
  background: url("../../../../public/assets/images/after.png") no-repeat;
  width: 120px;
  height: 122px;
  background-size: contain;
  right: 20%;
  top: -50px;
}

.app-promo:before {
  content: "";
  position: absolute;
  background: url("../../../../public/assets/images/before.png") no-repeat;
  width: 250px;
  height: 250px;
  background-size: contain;
  left: 0;
  bottom: 50px;
}

.banner-section:after {
  content: "";
  position: absolute;
  background: url("../../../../public/assets/images/my-before.png") no-repeat;
  width: 250px;
  height: 400px;
  background-size: contain;
  left: 0;
  bottom: -100%;
  z-index: -1;
}

.rind-the-right-section:after {
  content: "";
  position: absolute;
  background: url("../../../../public/assets/images/my-vector.png") no-repeat;
  width: 250px;
  height: 400px;
  background-size: contain;
  right: -20px;
  bottom: 100px;
  z-index: -1;
}

.footer-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background: #fff;
  padding: 15px 0;
  border-radius: 8px;
}

.footer-links ul li a {
  padding: 0 20px;
}

.footer-section:before {
  content: "";
  position: absolute;
  background: url("../../../../public/assets/images/footer-before.png") no-repeat;
  width: 240px;
  height: 150px;
  background-size: contain;
  left: 0;
  bottom: 0;
}

.footer-section:after {
  content: "";
  position: absolute;
  background: url("../../../../public/assets/images/footer-after.png") no-repeat;
  width: 300px;
  height: 195px;
  background-size: contain;
  right: 0;
  bottom: 0;
}

.discount-content.things {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-content.things a i {
  width: 40px;
  height: 40px;
  border: 2px solid #fe4d00;
  border-radius: 50%;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fe4d00;
}

.location-sec {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
}

.testimonial-section.products .discount-block .location-sec img {
  width: 25px;
  height: 25px;
}

.testimonial-section.products .discount-block .discount-content .card-footer-btn {
  display: block;
  background: #fe4d00;
  margin: 15px 0 0;
  padding: 10px;
  border-radius: 50px;
  color: #fff !important;
  text-align: center;
}

.time-formate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7F7F7;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
}

.time-formate p {
  display: flex;
  align-items: center;
  justify-content: start;
}

.testimonial-section.products .discount-block .time-formate p img {
  width: 20px;
  height: 20px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  border-radius: 0;
  margin: 0 5px 0 0;
}

.discount-block.blog h3 {
  font-size: 21px;
}

.testimonial-section.products .discount-block.blog {
  text-align: left;
  margin: 10px 0;
}

.testimonial-section.products .discount-block.blog img {
  width: 100%;
}

.testimonial-section.products .discount-block.blog p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}

.testimonial-section.products .discount-block.blog a {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  margin: 10px 0 0;
  color: #fe4d00 !important;
  transition: 0.3s ease-in-out;
}

.testimonial-section.products .discount-block.blog a img {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  border: 2px solid #fe4d00;
  border-radius: 50%;
  margin: 0 0 0 10px;
  transition: 0.3s ease-in-out;
  transform: rotate(180deg);
}

.testimonial-section.products .discount-block.blog a:hover img {
  transform: rotate(145deg);
}

.testimonial-section.products .discount-block img.play {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.testimonial-section.products .discount-block.audio h3 {
  font-size: 18px;
}

.cities img {
  width: 100%;
}

.select-form.restaurent-sec .choose-sec {
  width: 100%;
  padding: 5px 10px;
}

.select-form.restaurent-sec .choose-sec label.form-label {
  font-size: 12px;
}

.banner-section.rest-sec .tab-content {
  border-radius: 10px 10px 10px 10px;
}

.banner-section.rest-sec .tab-content input {
  height: 50px;
  border: 1px solid #ccc;
  padding: 15px;
}

.banner-section.rest-sec form {
  border: 0;
}

.banner-section.rest-sec {
  height: auto;
  padding: 50px 0;
  background-position: bottom;
}

.hotel_listitem {
  display: flex;
  background: white;
  box-shadow: 5px 5px 20px #ddd;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
}

.hotel_img {
  width: 25%;
}

.hotel_listitem .hotel_img .image_htfix {
  max-height: 160px;
}

.image_htfix img {
  position: absolute;
  height: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}

.hotel_details.resturant_sprecification {
  padding: 0 20px;
}

.hotel_details {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.loc_details {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotel_listitem .hotel_details.resturant_sprecification .hotel_name {
  padding: 0;
  height: auto;
}

.resturant_sprecification .hotel_name {
  width: 50%;
}

.hotel_name h5 {
  font-size: 18px;
}

.restro_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel_listitem .hotel_details.resturant_sprecification .restro_btns .restro_deals {
  padding: 0;
  justify-content: start;
}

.restro_deals {
  padding: 15px 12px;
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;
  width: 26%;
  justify-content: center;
}

.hotel_listitem .hotel_details.resturant_sprecification .restro_btns .restro_deals a.restro_btn {
  letter-spacing: 0;
  padding: 10px 15px;
  border-radius: 100px;
  color: #fff !important;
  font-size: 13px;
  margin: 0;
  background: #fe4d00;
}

.hotel_listitem .hotel_details.resturant_sprecification .restro_btns .hotel_rating {
  padding: 0;
}

.restro_btns .hotel_rating {
  border-bottom: none;
  width: 52%;
}

.star_rate span.fa.fa-star.checked {
  color: #fe4d00;
}

.hotel_name {
  align-items: center;
  display: flex;
}

.image_htfix {
  position: relative;
  height: 228px;
  overflow: hidden;
  border-radius: 4px;
}

.top-header ul li a svg path {
  fill: #000;
}

.top-header ul li.nav-item.dropdown a.dropdown-item {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: start;
  padding: 10px 15px;
}

.top-header ul li.nav-item.dropdown a.dropdown-item svg {
  margin: 0 10px 0 0;
}

.top-header ul li.nav-item.dropdown a.dropdown-item:hover svg path {
  fill: #fe4d00;
}

.head-yelp.new h3 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.head-yelp.new h3 img {
  width: 60px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: -5px 0 0 5px;
}

.comedy-bottom-sec {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comedy-bottom-sec .slide {
  width: 48%;
  margin: 0 0 30px;
}

.client-sec.comedy .slide .discount-block {
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.168627451);
  padding: 0;
}

.discount-block {
  padding: 5px;
  box-shadow: 5px 5px 48px rgba(0, 0, 0, 0.168627451);
  border-radius: 18px;
  background: #fff;
}

.client-sec.comedy .slide .discount-block .cities {
  padding: 5px 5px 0;
}

.cities {
  position: relative;
  padding: 5px;
}

.client-sec.comedy .slide .discount-block .cities img {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.discount-block img {
  width: 100%;
}

.client-sec.comedy .slide .discount-block .discount-content {
  border-bottom: 1px solid #ccc;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.discount-content {
  text-align: left;
  padding: 0;
}

.client-sec.comedy .slide .discount-block .discount-content h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 59px;
  line-height: 35px;
  margin: 0;
  border-right: 1px solid #ccc;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  width: 60%;
}

.client-sec.comedy .slide .discount-block .discount-content span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 21px;
  height: 42px;
  text-align: left;
  display: block;
  padding: 15px;
  width: 40%;
  font-size: 14px;
}

.client-sec.comedy .slide .discount-block .discount-content span i {
  color: #fe4d00;
  margin: 0 4px 0 0;
}

.client-sec.comedy .comedy-add-details {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.client-sec.comedy .comedy-add-details p:nth-child(1) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0 0 5px;
}

.client-sec.comedy .discount-block p {
  font-size: 14px;
  line-height: 26px;
}

.client-sec.comedy .comedy-add-details p i {
  color: #fe4d00;
  margin: 0 4px 0 0;
}

.client-sec.comedy .comedy-add-details p:nth-child(2), .client-sec.comedy .comedy-add-details p:nth-child(3) {
  width: 50%;
  display: inline;
  margin: 0 10px 0 0;
  color: #575757;
}

.client-sec.comedy .discount-block p {
  font-size: 14px;
  line-height: 26px;
}

.client-sec.comedy .slide .discount-block .discount-action.hotels {
  justify-content: flex-start;
  background: transparent;
}

.discount-action {
  background: rgba(254, 77, 0, 0.1215686275);
  border-radius: 6px;
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0;
}

.discount-action.hotels .hotel-book {
  background: #fe4d00;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff !important;
  display: flex;
  align-items: center;
}

.family-sec .discount-block {
  padding: 5px;
  box-shadow: 5px 5px 48px rgba(0, 0, 0, 0.168627451);
  border-radius: 18px;
  background: #fff;
}

.family-sec .discount-block img {
  width: 100%;
}

.family-sec .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0;
}

.family-sec .stars {
  display: flex;
}

.family-sec .reviews-no p {
  background: #fe4d00;
  padding: 5px;
  font-size: 13px !important;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px 0 0;
  width: 35px;
  height: 35px;
}

.testimonial-section.products.family-sec .discount-content h3 {
  text-align: left;
}

.family-sec .stars ul {
  display: flex;
  align-items: center;
}

.family-sec .stars ul li {
  color: #fe4d00;
  margin: 0 2px;
}

.family-sec p.riview-last {
  display: flex;
  align-items: center;
  background: transparent !important;
  color: #8B8B8B;
}

.family-sec p.riview-last img {
  width: 12px;
  height: 12px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  margin: 0 7px;
}

.family-sec .city-price .action-content p {
  font-size: 12px;
}

.family-sec .action-content p span {
  display: block;
}

.family-sec .city-price .action-content p:last-child {
  display: flex;
  align-items: center;
  justify-content: start;
}

.family-sec .city-price .action-content p:last-child .old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: red;
  margin: 0 10px 0 0;
  font-weight: 700;
}

.family-sec .city-price .action-content p:last-child .new-price {
  font-size: 18px;
  font-weight: 800;
  color: #000;
  margin: 0 10px 0 0;
}

.family-sec .city-price .action-content p:last-child .dis-percent {
  color: #fff;
  background: #fe4d00;
  padding: 0 4px;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.powerdby {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.powerdby a img {
  width: 30px;
}

.powerdby p {
  font-size: 14px;
  color: #8a8a8a;
}

.view-tag a {
  background: #FE4D00;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 11px 45px;
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
  display: inline-block;
  margin: 10px 0 0;
  transition: 0.3s ease-in-out;
}

.view-tag {
  text-align: center;
}

.view-tag a:hover {
  box-shadow: none;
}

.testimonial-section.products .discount-block.blog p.trav-sec.desti {
  position: absolute;
  top: 21px;
  background: #fff;
  padding: 8px 15px;
  font-size: 14px;
  left: 4px;
  box-shadow: 10px 0px 11px rgba(0, 0, 0, 0.1803921569);
  border-radius: 0px 17px 17px 0px;
  color: #fe4d00;
  font-weight: bold;
}

.testimonial-section.products .discount-block.family .action-content p {
  font-weight: 600;
}

.discount-block.dig .timer-sec img {
  width: 13px;
  height: 13px;
  -o-object-fit: contain;
     object-fit: contain;
}

.testimonial-section.products .discount-block.dig h3 {
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 5px;
  text-align: left;
}

.discount-block.dig .timer-sec {
  display: flex;
  align-items: center;
  padding: 0 0 5px;
}

.discount-block.dig .timer-sec p {
  font-size: 14px;
  margin: 0 0 0 5px;
}

.discount-block.dig .stars {
  padding: 0 0 15px;
  display: block;
  text-align: left;
}

.discount-block.dig .stars ul {
  justify-content: start;
}

.discount-block.dig .stars p {
  margin: 0;
}

.sticker {
  position: absolute;
  top: 20px;
  left: 20px;
}

.testimonial-section.products .discount-block .sticker img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-section.products .discount-block.dig {
  margin: 10px 0 10px;
}

section.client-sec.brewery .discount-content {
  text-align: left;
  padding: 0px;
}

.comedy-detail {
  padding: 10px 0px 0;
  text-align: left;
}

.comedy-detail ul li {
  margin: 0 0 5px;
  display: flex;
  align-items: self-start;
}

.comedy-detail ul li i {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  margin: 0 6px 0 0px;
  text-align: right;
  color: #fe4d00;
  font-weight: bold;
}

.comedy-detail ul li span {
  color: #fe4d00;
  margin: 0 5px;
  font-weight: bold;
}

.client-sec.brewery .testimonial-section.products .discount-content h3 {
  text-align: left;
}

.testimonial-section.products .discount-block.brew .stars {
  justify-content: start;
}

.offer-section .owl-carousel .owl-item .cities.travel.brand img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

.offer-section .owl-carousel .owl-item .cities.travel.brand {
  border-radius: 6px;
}

.car-rental-sec img {
  width: 100%;
}

/* shailendra */
.content-sec span {
  color: #fe4d00;
}

.searcher-sec .hotels-price {
  width: 100%;
  border-bottom: 1px solid rgba(17, 34, 17, 0.25);
  padding: 23px 0 28px 0;
}

.searcher-sec .hotels-price .price-ar {
  text-align: right;
}

.head-yelp.yelp {
  padding: 0;
  border: 0;
}

.hotel_listitem.travelodge-wyandham {
  margin-top: 13px;
}

.testimonial-section.products.travelodge {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(17, 34, 17, 0.25);
  padding: 0;
  border-radius: 0;
}

.memphis-review {
  padding-top: 10px;
}

.price-range {
  padding-top: 25px;
}

.memphis-review span {
  border: 1px solid #fe4d00;
  padding: 4px;
  border-radius: 5px;
}

.hotel_name.memphis span img {
  vertical-align: baseline;
}

span.aminities {
  margin-left: 38px;
}

span.aminities img {
  margin-right: 5px;
}

.memphis h5 {
  margin-left: 5px;
}

.hotel_name.memphis {
  width: 100%;
}

.restro_btns.starting {
  display: inline-block;
}

.memphis-rate span {
  color: #fe4d00;
  font-size: 24px;
  font-weight: 700;
}

.hotels-rating ul li {
  display: inline-block;
  padding: 15px 0 0 0;
}

.hotels-rating ul li a {
  padding: 6px 6px;
  border: 1px solid #fe4d00;
  border-radius: 5px;
}

.suggest-arrow img {
  vertical-align: baseline;
}

.listing-check.hotel-p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.rind-the-right-section .memphis-review {
  font-size: 15px;
  color: #112211;
  font-weight: 500;
}

.depart-main {
  width: 100%;
  margin-top: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 14px;
}

.depart {
  width: 100%;
}

.departure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(254, 77, 0, 0.1);
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 7px;
  position: relative;
}

.depart-sub {
  font-size: 12px;
  line-height: 15px;
  color: #112211;
}

.depart-sub span {
  color: rgba(17, 34, 13, 0.6);
}

.flight-details {
  width: 100%;
  margin-top: 12px;
}

.flight-details .refundable {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 5px;
}

.view-details {
  margin-top: 5px;
}

.flight-details .refundable .non-refund {
  border: 1px dotted #000;
  border-radius: 5px;
  padding: 8px 22px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 0px;
}

.flight-details a {
  color: #fff !important;
  background: #FE4D00;
  padding: 9px 22px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.booking-now span {
  color: #FE4D00;
  margin-right: 10px;
  font-size: 24px;
  line-height: 30px;
}

.booking-now a {
  background: #FE4D00;
  border-radius: 50px;
  padding: 11px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
}

.booking-now {
  display: flex;
  justify-content: start;
  align-items: center;
}

section.client-sec.comedy.flight-f {
  margin-bottom: 25px;
  background: #F7F7F7;
  padding: 20px;
  border-radius: 10px;
}

.head-yelp.yelp.fl-b {
  margin-bottom: 10px;
}

.departure-to.dot-fl::after {
  content: "";
  width: 24px;
  height: 2px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 23px;
  left: 115px;
}

.departure-to.dot-fl::before {
  content: "";
  width: 24px;
  height: 2px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 23px;
  right: 116px;
}

label.custom-control-label.filter {
  font-size: 21px;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  line-height: 25px;
}

.memphis-review.review {
  margin-top: 10px;
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #FE4D00;
  cursor: pointer;
}

.testimonial-section.products .cities img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

html, body, .search-box-wrapper.clearfix {
  background-color: transparent !important;
}

.testimonial-section.products .cities {
  margin: 10px;
  padding: 10px;
}

.testimonial-section.products .cities.travel.brand img {
  height: 65px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pick-up {
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.pick-up .sb-select-box {
  width: 32%;
  margin: 0 10px 0 0px;
}

.pick-up .sb-select-box.third {
  margin: 0;
}

@media (max-width: 1399px) {
  .banner-section .tab-content {
    border-radius: 0 0 10px 10px;
  }
  .select-form form .choose-sec input, .select-form form .choose-sec select {
    font-size: 20px;
  }
  .select-form form .choose-sec {
    padding: 10px;
  }
  .select-form form .choose-sec span {
    font-size: 10px;
  }
  .choose-specaility .form-check {
    margin: 0 5px 0 10px;
    font-size: 12px;
    padding: 10px 10px 10px 15px;
  }
  .choose-specaility {
    padding: 0;
  }
  .app-promo {
    background-size: cover;
    padding: 100px 0 20px;
    margin: 100px 0;
  }
}
@media (max-width: 767px) {
  .banner-section ul.nav-tabs li button {
    padding: 0px;
    margin: 10px auto 10px;
    font-size: 10px;
  }
  .checkbox-sec .form-check {
    font-size: 12px;
  }
  .banner-section ul.nav-tabs li button svg {
    width: 21px;
  }
  .checkbox-sec {
    padding: 10px;
    flex-wrap: wrap;
    text-align: left;
  }
  .links-sec {
    margin-left: 0;
  }
  .select-form form .choose-sec {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #b2b2b2;
  }
  .choose-specaility {
    padding: 0;
    flex-wrap: wrap;
  }
  .specaility-sec {
    flex-wrap: wrap;
  }
  .head-yelp h3 {
    font-size: 18px;
    margin: 0;
  }
  .app-promo-content h2 {
    font-size: 28px;
    margin: 20px 0 5px;
    text-align: center;
  }
  .get-sec {
    margin: 20px 0;
  }
  .app-promo-img img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .footer-links ul {
    display: block;
  }
  .footer-section:after {
    width: 160px;
    height: 103px;
  }
  .footer-section:before {
    width: 150px;
    height: 90px;
    z-index: -1;
  }
  .rind-the-right-section:after {
    display: none;
  }
  .hotel_img {
    width: 100%;
  }
  .hotel_listitem .hotel_img .image_htfix {
    max-height: 228px;
  }
  .hotel_details.resturant_sprecification {
    padding: 20px;
    width: 100%;
  }
  .restro_deals {
    height: auto;
    width: 50%;
  }
  .restro_btns {
    flex-wrap: wrap;
  }
  .loc_details {
    margin: 0 0 15px;
    padding: 0 0 15px;
  }
  .restro_btns .hotel_rating {
    width: 100%;
    margin: 10px 0 0;
  }
  div#navbarSupportedContent {
    position: absolute;
    top: 81px;
    background: #fff;
    z-index: 99;
    width: 100%;
    left: 0;
    right: 0;
  }
  .top-header ul {
    align-items: self-start;
  }
  .top-header ul li a {
    margin: 10px 0 0 20px;
    display: flex;
    align-items: center;
  }
  .top-header ul li a svg {
    margin: 0 5px 0 0;
  }
  .top-header ul li {
    width: 100%;
  }
  .top-header ul li a.nav-link.contact-button {
    justify-content: flex-start;
    width: 85%;
  }
  .top-header .navbar-nav .dropdown-menu {
    width: 90%;
    margin: 0 auto;
  }
  .comedy-bottom-sec .slide {
    width: 100%;
  }
  .banner-section {
    padding: 20px 0;
    height: auto;
    background-size: cover;
  }
  .banner-section ul.nav-tabs {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .banner-section ul.nav-tabs li.nav-item {
    width: 24%;
  }
  .links-sec a {
    font-size: 12px;
  }
  .choose-specaility .form-check {
    width: 100%;
    border: 0;
  }
  .adver-sec {
    padding: 40px 0;
  }
  .offer-section .header-sec ul li a {
    width: 100%;
  }
  .offer-section .header-sec ul li {
    width: 50%;
  }
  .offer-section .header-sec ul {
    margin: 10px 0 0;
    flex-wrap: wrap;
  }
  .header-sec {
    flex-wrap: wrap;
  }
  .offer-section .header-sec ul li:nth-child(2) a, .offer-section .header-sec ul li:nth-child(4) a {
    border: 0;
  }
  .offer-section .testimonial-section.products .owl-nav {
    position: relative;
    top: 10px;
    text-align: center;
  }
  .app-promo:before {
    width: 100px;
    height: 140px;
    bottom: -50px;
  }
  .get-sec a {
    padding: 12px 15px;
    font-size: 12px;
  }
  .get-sec input {
    font-size: 14px;
    height: 50px;
  }
  .app-promo {
    padding: 50px 0;
    background-position: top;
    margin: 50px 0;
  }
  .app-link-sec img {
    width: 120px;
    margin: 0 10px 0 0;
  }
  .app-link-sec {
    justify-content: center;
  }
  .app-promo-content p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }
  .banner-section.rest-sec {
    padding: 20px 0;
  }
  .testimonial-section.products .owl-nav {
    position: initial;
    text-align: center;
  }
  .discount-action {
    flex-wrap: wrap;
  }
  .discount-action.hotels .hotel-book {
    display: inline-block;
    margin: 10px 0 0;
    width: 100%;
    text-align: center;
  }
  .testimonial-section.products.family-sec .col-12.col-sm-6.col-md-4.col-lg-4 {
    padding: 0;
  }
}
.err-text {
  text-shadow: -1px 2px rgba(128, 128, 128, 0.5);
  background: -webkit-linear-gradient(whitesmoke, #1e2425);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 300px;
}

.slick-next:before,
.slick-next:before {
  font-family: initial !important;
  color: #FE4D00;
  position: absolute;
  margin-top: -27vh;
  margin-left: -3vw;
}

.slick-prev:before,
.slick-prev:before {
  font-family: initial !important;
  color: #FE4D00;
  position: absolute;
  margin-top: -27vh;
  margin-left: 51vw;
}

.slick-next:hover::before,
.slick-next:hover::before {
  color: #FE4D00;
  background: #FFFFFF !important;
  border: 2px solid #FE4D00 !important;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.slick-prev:hover::before,
.slick-prev:hover::before {
  color: #FE4D00;
  background: #FFFFFF !important;
  border: 2px solid #FE4D00 !important;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.itemBox {
  background-color: white;
  width: 79%;
  margin-left: 10vw;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  border-radius: 5px;
}

.react-tabs__tab-list {
  border-bottom: 0px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 0px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 18px;
  cursor: pointer;
}

.feat-blogs-head div:not(.feat-blogs-head div.col-12, .feat-blogs-head div.col-12 *) {
  display: flex;
  flex-wrap: wrap;
}

.feat-blogs-head .col-12 {
  padding: 0 7px;
}

.feat-blogs-head .col-12 .discount-block.blog p {
  word-break: break-word;
}

.loader {
  text-align: center;
  padding-top: "100px";
}

.activeMenu {
  background: lightcoral;
  border-radius: 20px;
  padding-right: 10px;
}

html, body, .search-box-wrapper {
  background-color: transparent !important;
}/*# sourceMappingURL=App.css.map */